<app-header></app-header>

<main>
<!-- <ul *ngFor="let user of users"> -->

    <!-- <li>
        <app-user [avatar]="user.avatar" [id]="user.id" [name]="user.name"/>
    </li> -->
 <ul id="users" >
    <!-- *ngFor=" let user of users" -->
    @for (user of users; track user.id) {
        <li>
            <app-user [user]="user" (select)="OnSelectUser($event)"
            [selected]="user.id===selectedUserId"/>
        </li>
    }
    <!-- <li>
        <app-user [user]="users[3]" (select)="OnSelectUser($event)"/>
    </li>  -->
</ul>
<!-- <app-tasks [SelectedUserName]="SelectedName()"/> -->
@if(selectedUser){
    <app-tasks [UserId]="selectedUser.id" [SelectedUserName]="selectedUser.name"/>
} @else {
    <p id="fallback"> Select A User To See Their Tasks</p>
}

</main>